@tailwind base;

@layer base {

    html {
        @apply h-full
    }

    body {
        @apply h-full
    }

    .body,
    .main {
        height: calc(100vh - 96px);
    }

    /* TYPOGRAPHIE */
    h1 {
        @apply text-6xl
    }

    h2 {
        @apply text-5xl
    }

    h3 {
        @apply text-4xl
    }

    h4 {
        @apply text-3xl
    }

    h5 {
        @apply text-2xl
    }

    h6 {
        @apply text-xl
    }
    .gradient {
        @apply bg-gradient-to-r from-gradient-first via-gradient-second to-gradient-third
    }
}